div#characters-tab {
	div.character {
		margin: 8px 2px;
		padding: 3px;
		
		&:nth-child(2n) {
			background-color: #EEEEEE;
			border-top: 1px solid #9E9E9E;
		}
	}
	
	div.frame {
		margin: 3px 10px;
		
		.name {
			margin-right:7px;
		}
		button.delete {
			margin-left: 1px;
		}
	}
}
