#dialogue-tab {
	div.characters {
		margin-bottom: 10px;
		
		.character {
			margin: 5px 0;
			
			// .space-x-2
			& > :not(template) ~ :not(template) {
				margin-left: 0.5rem;
			}
			
			label.owner {
				margin-left: 4px;
			}
		}
	}
	
	div#dialogue-wrapper {
		display: flex;
		align-items: baseline;
		gap: 0.25em;
		margin: 10px 0;
	}
	
	h3 {
		border-bottom: 1px dashed gray;
	}
	
	div.choices {
		margin-top: 10px;
		
		& > div:not(:last-of-type) {
			padding-bottom: 4px;
			margin: 0.25em 0;
			
			display: flex;
		}
	}
}
