#dialogue-tab {
	div.characters {
		margin-bottom: 10px;
		
		.character {
			margin: 5px 0;
			
			label.owner {
				margin-left: 4px;
			}
		}
	}
	
	textarea.dialogue {
		display: block;
		margin: 10px 0;
	}
	
	div.choices {
		margin-top: 10px;
		
		& > div:not(:last-of-type) {
			padding-bottom: 4px;
			margin: 2px 0;
			border-bottom: 1px solid lightgray;
			
			display: flex;
		}
	}
}
