#images-tab {
	div#upload {
		padding: 2px;
		margin: 3px;
		margin-top: 12px;
		margin-bottom: 15px;
		border: 1px solid;
		display: flex;
		
		input.name {
			width: 220px;
		}
		
		& > div {
			width: 49%;
			
			&:last-of-type {
				border-left: 1px solid;
			}
		}
		
		img#image-file-preview {
			max-height: 300px;
		}
	}
	
	.list {
		& > div {
			display: inline-block;
			width: 50%;
			border: 1px solid#90A4AE;
			padding: 4px;
		}
		
		img.image-preview {
			max-height: 100px;
			float: left;
			border: 1px solid;
			margin-right: 5px;
		}
	}
}
