.hidden { display: none; }

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
}
div#game {
	width: 100%;
	height: 100%;
}
div#background {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
div#character {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	
	background-size: contain;
	background-repeat: no-repeat;
}

div#bottom {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	
	& > * {
		z-index: 2;
	}
}
div#dialogue-box {
	height: 25%;
	
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Times New Roman', Times, serif;
	padding: 10px;
	color: white;
	border: 1px solid white;
	margin: 7px;
	align-self: stretch;
	
	#character-name {
		border-bottom: 1px solid white;
		margin-bottom: 2px;
	}
	
	.text {
		font-size: 1.5em;
	}
	
	#continue-indicator {
		position: absolute;
		right: 30px;
		bottom: 20px;
		font-size: 1.5em;
		font-weight: bold;
		cursor: default;
	}
}

div#choices {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 35%;
	margin-right: 7px;
	
	.choice {
		margin: 2px 0;
		width: 100%;
		min-height: 25px;
		padding: 6px;
		text-align: left;
		font-family: 'Times New Roman', Times, serif;
		font-size: 1em;
		
		background-color: #212121;
		color: #FAFAFA;
		border: 0;
		
		&:hover {
			background-color: #424242;
		}
		&:focus {
			outline-color: white;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
