div#editor > div#header {
	width: 100%;
	height: 100%;
	padding-left: 5px;
	padding-top: 3px;

	div#controls button {
		font-size: 1em;
	}
	div#tabs-list {
		margin: 9px 0;
		cursor: default;

		.link {
			cursor: pointer;
			margin: 0;
			padding: 2px 5px;
			border: 1px solid;

			&:hover {
				text-decoration: underline;
			}
			&.active {
				font-weight: bold;
			}
		}
	}
}

div#header button#push {
	// separate the history buttons
	margin-left: 10px;
}

div#header button#save,
div#header button#push,
div#header button#pull,
div#header button#clear {
	border: 0;

	&.active {
		background-color: #212121;
		color: #9e9e9e;
	}
	&[disabled] {
		background-color: #eeeeee;
		color: #bdbdbd;
	}
}
