div#tree-tab {
	font-family: sans-serif;
	
	$headerHeight: 30px;
	& > div {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.75);
		width: 10em;
		text-align: center;
		padding: 5px;
		height: $headerHeight;
	}
	& > ul {
		margin-top: $headerHeight !important;
	}
	
	ul {
		list-style-type: none;
		padding-left: 15px;
		border-left: 1px solid gray;
	}
	
	li.dialogue {
		&.active > span.text {
			font-weight: bold;
		}
		&.highlight > span.text {
			color: white;;
			background-color: #1E88E5;
		}
		&.reference > span.text {
			font-style: italic;
		}
	}
	
	li.choice {
		&.cycle-dialogue > span.text {
			font-style: italic;
			color: #263238;
		}
	}
	
	li {
		white-space: nowrap;
		
		button {
			margin: 0 7px;
			font-size: 0.7em;
			
			// add some space to whichever button is last
			&.create-dialogue {
				margin-right: 15px;
			}
			
			&.link.active {
				background-color: lightblue;
			}
		}
		
		& > *:not(ul) {
			// required to be able to set span width (which is required for text overflow)
			display: inline-block;
		}
		& > span.text {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-width: 275px;
			padding: 2px;
		}
		&.collapsed {
			& > span.text {
				border-bottom: 1px solid;
			}
			& > ul {
				display: none;
			}
		}
		
		&:not(.dialogue) > span.text {
			color: #0D47A1;
		}
		
		&.dialogue > span.character {
			font-size: 0.85em;
			padding: 2px;
			margin: 0 4px;
			border: 1px solid gray;
		}
	}
}
